<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Meeting</display-name>
  
  <servlet>
    <servlet-name>U</servlet-name>
    <servlet-class>login.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>U</servlet-name>
    <url-pattern>/UserLoginServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SortListServlet</servlet-name>
    <servlet-class>action.SortListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SortListServlet</servlet-name>
    <url-pattern>/SortListServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AffairsAdd</servlet-name>
    <servlet-class>action.AffairsAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AffairsAdd</servlet-name>
    <url-pattern>/AffairsAdd</url-pattern>
  </servlet-mapping>
    
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>